body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    overflow-x: hidden;
 /* background: url('backnew.jpg') no-repeat center fixed;  */
    background-size:cover;
    justify-content: center;
     background-image: url('beauty-salon.jpg'); 
    
}

*{
    margin: 0px;
    padding: 0px;
   
}




.outer{
    width:40%;
    margin-left: 30%;
   
    height: 450px;
    border: 1px solid ;
    padding: 10px;
    background-color:rgba(197, 211, 239, 0.775);
}

input:hover{
    border: 1px solid orange;
}

h1{
    margin-left: 35px; 
    margin-top: 35px;
    text-align: center;
}


h3{
    margin-top:15px ;
    color: black;
}
.div1{
    margin-left: 15px;
}

.div1 a{
    text-decoration: none;
  color: gray;

}

.div1 a:hover{
    color: orange;
}

.div2{
    margin-top: 40px;
}

 input{
    margin-top: 15px;
}


button{
    background-color: orange;
    border: none;
    height: 40px;
    width:70px;
    font-size: 1rem;
    margin:10px
}


button:hover{
    background-color: black;
    color: orange;
}





